<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="it=EDGE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS - HOME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .availability-form {
            margin-top: -50px;
            z-index: 2;
            position: relative;
        }

        @media screen and (max-width: 575px) {
            .availability-form {
                margin-top: 25px;
                padding: 0, 35;
            }
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        :root {
            --teal: #2ec1ac;
            --teal_hover: #279e8c;

        }

        * {
            font-family: 'Poppins', sans-serif;
        }

        .h-font {
            font-family: 'Merienda', cursive;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        .custom-bg {
            background-color: var(--teal);
            border: 1px solid var(--teal);
        }

        .custom-bg:hover {
            background-color: var(--teal_hover);
            border-color: var(--teal_hover);
        }

        .h-line {
            width: 150px;
            margin: 0 auto;
            height: 1.7px;
        }

        .custom-file-upload {
            background-color: var(--teal);
            border: 1px solid var(--teal);
        }

        .custom-file-upload:hover {
            background-color: var(--teal_hover);
            border-color: var(--teal_hover);
        }
    </style>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-lg-3 py-leg-2 shadow-sm sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand me-5 fw-bold fs-3 h-font" href="index.php">LMS</a>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link active me-2" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="room.html" class="nav-link me-2">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link me-2">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link me-2">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="my-5 px-4">
        <h2 class="fw-bold h-font text-center">OUR PRODUCT</h2>
        <div class="h-line bg-dark"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-lg-0 mb-4 px-lg-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-white rounded shadow">
                    <div class="container-fluid flex-lg-column align-items-stretch">
                        <h2 class="mb-3">Upload Your Dataset</h2>
                        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filterDropdown" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse flex-column align-items-stretch mt-2" id="filterDropdown">
                            <div class="border bg-light p-3 rounded mb-3">
                                <form method="post" enctype="multipart/form-data" class="mt-2 d-flex">
                                    <label for="file-upload" class="custom-file-upload btn text-white shadow-none custom-bg">Choose File</label>
                                    <input type="file" id="file-upload" name="file" accept=".csv" style="display: none;">
                                    <input type="submit" value="Upload" class="btn text-white shadow-none custom-bg ms-3">
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-mb-12 px-4">
                <div class="card mb-3 border-0 shadow">
                    <div class="row g-0 p-3 align-items-center">
                        <div class="col-md-5 mb-lg-0 mb-md-0 mb-3">
                            <img src="/static/images/b3.jpg" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 px-lg-3 px-md-3 px-0">
                            <h5 class="mb-3">A Brief History of Humankind</h5>
                            <div class="features mb-3">
                                <h6 class="mb-1">Yuval Noah Harari</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    Prof. Yuval Noah Harari is a historian, philosopher, and the bestselling author of
                                    Sapiens: A Brief History of Humankind, Homo Deus: A Brief History of Tomorrow, 21
                                    Lessons for the 21st Century, and Sapiens: A Graphic History.
                                    His books have sold over 35 million copies in 65 languages, and he is considered one
                                    of the world’s most influential public intellectuals today. The Guardian has
                                    credited Sapiens with revolutionizing the non-fiction market and popularizing
                                    “brainy books”.
                                </span>
                            </div>
                            <div class="col-md-9 text-center">
                                <h6 class="mb-3">Book Numbers : 4 </h6>
                            </div>
                            <div class="col-md-9 text-center">
                                <h6 class="mb-3">$20 per Day</h6>
                                <a href="#" class="btn btn-sm  text-white custom-bg shadow-none mb-3">Request Now</a>
                                <a href="#" class="btn btn-sm w-100 btn-outline-dark shadow-none">More details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 border-0 shadow">
                    <div class="row g-0 p-3 align-items-center">
                        <div class="col-md-5 mb-lg-0 mb-md-0 mb-3">
                            <img src="/static/images/b3.jpg" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 px-lg-3 px-md-3 px-0">
                            <h5 class="mb-3">A Brief History of Humankind</h5>
                            <div class="features mb-3">
                                <h6 class="mb-1">Yuval Noah Harari</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    Prof. Yuval Noah Harari is a historian, philosopher, and the bestselling author of
                                    Sapiens: A Brief History of Humankind, Homo Deus: A Brief History of Tomorrow, 21
                                    Lessons for the 21st Century, and Sapiens: A Graphic History.
                                    His books have sold over 35 million copies in 65 languages, and he is considered one
                                    of the world’s most influential public intellectuals today. The Guardian has
                                    credited Sapiens with revolutionizing the non-fiction market and popularizing
                                    “brainy books”.
                                </span>
                            </div>
                            <div class="col-md-9 text-center">
                                <h6 class="mb-3">Book Numbers : 4 </h6>
                            </div>
                            <div class="col-md-9 text-center">
                                <h6 class="mb-3">$20 per Day</h6>
                                <a href="#" class="btn btn-sm  text-white custom-bg shadow-none mb-3">Apply Now</a>
                                <a href="#" class="btn btn-sm w-100 btn-outline-dark shadow-none">More details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 border-0 shadow">
                    <div class="row g-0 p-3 align-items-center">
                        <div class="col-md-5 mb-lg-0 mb-md-0 mb-3">
                            <img src="/static/images/b3.jpg" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 px-lg-3 px-md-3 px-0">
                            <h5 class="mb-3">A Brief History of Humankind</h5>
                            <div class="features mb-3">
                                <h6 class="mb-1">Yuval Noah Harari</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    Prof. Yuval Noah Harari is a historian, philosopher, and the bestselling author of
                                    Sapiens: A Brief History of Humankind, Homo Deus: A Brief History of Tomorrow, 21
                                    Lessons for the 21st Century, and Sapiens: A Graphic History.
                                    His books have sold over 35 million copies in 65 languages, and he is considered one
                                    of the world’s most influential public intellectuals today. The Guardian has
                                    credited Sapiens with revolutionizing the non-fiction market and popularizing
                                    “brainy books”.
                                </span>
                            </div>
                            <div class="col-md-9 text-center">
                                <h6 class="mb-3">Book Numbers : 4 </h6>
                            </div>
                            <div class="col-md-9 text-center">
                                <h6 class="mb-3">$20 per Day</h6>
                                <a href="#" class="btn btn-sm  text-white custom-bg shadow-none mb-3">Apply Now</a>
                                <a href="#" class="btn btn-sm w-100 btn-outline-dark shadow-none">More details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-white mt-5">
        <div class="row">
            <div class="col-lg-4 p-4">
                <h3 class="h-font fw-bold fs-3 mb-2">
                    <i class="bi bi-shop">
                        Sales forecasting Prediction
                    </i>
                </h3>
                <p>Sales forecasting is the process of estimating future revenue by predicting how much of a product or service will sell in the next week, month, quarter, or year. At its simplest, a sales forecast is a projected measure of how a market will respond to a company's go-to-market efforts.
                </p>
            </div>
            <div class="col-lg-4 p-4">
                <h5 class="mb-3">Email</h5>
                <a href="mailto:habib15-4284@diu.edu.bd" class="d-inline-block mb-2 text-dark text-decoration-none"><i class="bi bi-forward-fill"></i>Ahasan Habib</a>
                <br>
                <a href="mailto:talha15-4302@diu.edu.bd" class="d-inline-block mb-2 text-dark text-decoration-none"><i class="bi bi-forward-fill"></i>Mohamad Talha</a>
                <br>
                <a href="mailto:sakid15-4313@diu.edu.bd" class="d-inline-block mb-2 text-dark text-decoration-none"><i class="bi bi-forward-fill"></i>Rihyad Mahamud Sajid</a>
                <br>
                <a href="mailto:durjoy15-4304@diu.edu.bd" class="d-inline-block mb-2 text-dark text-decoration-none"><i class="bi bi-forward-fill"></i>Naimur Rahaman Durjoy</a>
            </div>
            <div class="col-lg-4 p-4">
                <h5 class="mb-3">Follow us</h5>
                <a href="#" class="d-inline-block text-dark text-decoration-none mb-2"><i
                        class="bi bi-twitter-x me-2"></i>Twiter</a><br>
                <a href="#" class="d-inline-block text-dark text-decoration-none mb-2"><i
                        class="bi bi-facebook me-2"></i>Facebook</a><br>
                <a href="#" class="d-inline-block text-dark text-decoration-none mb-2"><i
                        class="bi bi-instagram "></i>Instagram</a><br>
            </div>
        </div>
    </div>
    <footer>
        <h6 class="text-center bg-info text-white p-3 m-0">Designed and Developed By Ahasan Habib</h6>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-container", {
        spaceBetween: 30,
        effect: "fade",
        loop: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },
    });
    var swiper = new Swiper(".swiper-testimonials", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        slidesPerView: "3",
        loop: true,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false,
        },
        pagination: {
            el: ".swiper-pagination",
        },
        breakpoints: {
            320: {
                slidesPerView: 1,
            },
            640: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 2,
            },
            1024: {
                slidesPerView: 3,
            },
        },
    });

</script>

</html>